/ByteExample.class
/CharExample.class
/GarbageValueExample.class
/IntExample.class
/LongExample.class
/Operator2Example.class
/Operator3Example.class
/Operator4Example.class
/Operator5Example.class
/Operator6Example.class
/Operator7Example.class
/Operator8Example.class
/Operator9Example.class
/OperatorExample.class
/PPExample.class
/Test1.class
